<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CW_Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
            
    </startup>
    <userSettings>
        <CW_Automation.Properties.Settings>
            <setting name="HCURL" serializeAs="String" >
                <value>https://hpidev.hoistcrane.com/login.html?ReturnUrl=%2F</value>
            </setting>
            <setting name="HCEMAIL" serializeAs="String">
                <value>cwadmin@cettiworks.com</value>
            </setting>
            <setting name="HCPASSWORD" serializeAs="String">
                <value>Welcome-123</value>
            </setting>
        </CW_Automation.Properties.Settings>
    </userSettings>
</configuration>
